<div class="w-full h-full">
  <div class="mx-auto mt-10 text-center">
        <h1 class="text-2xl">Candidate Name: {{interview?.candidateName | uppercase}}</h1>
  </div>

  <div class="p-20">
      <h2 class="text-xl uppercase">Challenge Sessions</h2>
      <div class="">
        @for(session of interview?.sessions;track $index) {
          <div class="flex items-center gap-3">
            <div class="text-sm">
              {{session.title}}
            </div>
            <div class="text-sm text-gray-500">
             StackBlitzUrl: <a class="text-blue-700" target="_blank" >{{codechallengeUrl+"/"+session?.project?._id}}</a>
            </div>
            <div><button type="button" (click)="copyLink(codechallengeUrl+'/'+session?.project?._id)"  class="w-15 h-6 cursor-pointer bg-gray-300">Copy</button></div>
          </div>
        }
      </div>
  </div>
</div>
